@import '../../variables';

@mixin button_to_340 {
  .btn-primary {
    padding: 1rem;
    font-size: $button_to_340;
  }
}
@mixin button_to_576 {
  .btn-primary {
    padding: 1rem;
    font-size: $button_to_576;
  }
}
@mixin button_to_1200 {
  .btn-primary {
    padding: 1rem;
    font-size: $button_to_1200;
  }
}
