// RESPONSIVE VARIABLES

// FONT SIZE
$font_size_to_340: 0.8rem;
$font_size_to_576: 1.1rem;
$font_size_to_1200: 1.1rem;
$font_size_over_1200: 1.3rem;

$button_to_340: 0.8rem;
$button_to_576: 1.1rem;
$button_to_1200: 1.1rem;
