@import './variables';
@import './mixins/_components/responsive_button';
@import './mixins/_components/font_size';

/*********CUSTOM BREAKPOINT**********/

@media (max-width: 300px) and (orientation: portrait) {
  .section-headline {
    margin-bottom: 10rem;
  }
  .contact-item {
    p {
      @include font_size_to_340;
    }
  }
  .btn-box {
    margin-bottom: 10rem;
    .btn-primary {
      padding: 0.7rem;
      font-size: $button_to_340;
    }
  }
  .section-contact {
    p {
      @include font_size_to_340;
    }
    .social-icon-link {
      width: 1.3rem;
    }
  }
}

@media (min-width: 301px) and (max-width: 340px) and (orientation: portrait) {
  .section-headline {
    margin-bottom: 5rem;
  }
  .contact-box {
    .contact-item {
      p {
        @include font_size_to_340;
      }
      .btn-box {
        margin-bottom: 10rem;
        @include button_to_340;
      }
    }
  }
  .section-contact {
    p {
      @include font_size_to_340;
    }
    .social-icon-link {
      width: 1.3rem;
    }
  }
}

@media (min-width: 301px) and (max-width: 340px) and (orientation: landscape) {
  .section-headline {
    margin-bottom: 10rem;
  }
  .contact-item {
    p {
      @include font_size_to_340;
    }
  }
  .btn-box {
    margin-bottom: 10rem;
    @include button_to_340;
  }
  .section-contact {
    p {
      @include font_size_to_340;
    }
    .social-icon-link {
      width: 1.3rem;
    }
  }
}

@media (min-width: 341px) and (max-width: 380px) and (orientation: portrait) {
  .section-headline {
    margin-bottom: 5rem;
  }
  .contact-item {
    p {
      @include font_size_to_576;
    }
  }
  .btn-box {
    margin-bottom: 10rem;
    @include button_to_576;
  }
  .section-contact {
    p {
      @include font_size_to_576;
    }
    .social-icon-link {
      width: 1.3rem;
    }
  }
}
@media (min-width: 341px) and (max-width: 380px) and (orientation: landscape) {
  .section-headline {
    margin-bottom: 5rem;
  }
  .contact-item {
    p {
      @include font_size_to_576;
    }
  }
  .btn-box {
    margin-bottom: 10rem;
    @include button_to_576;
  }
  .section-contact {
    p {
      @include font_size_to_576;
    }
    .social-icon-link {
      width: 1.7rem;
    }
  }
}

@media (min-width: 381px) and (max-width: 576px) and (orientation: portrait) {
  .section-headline {
    margin-bottom: 3rem;
  }
  .contact-item {
    p {
      @include font_size_to_576;
    }
  }
  .btn-box {
    margin-bottom: 10rem;
    @include button_to_576;
  }
  .section-contact {
    p {
      @include font_size_to_576;
    }
    .social-icon-link {
      width: 1.7rem;
    }
  }
}

/*************BS 5 BREAKPOINT**************/

@media (min-width: 381px) and (max-width: 576px) and (orientation: landscape) {
  .section-headline {
    margin-bottom: 10rem;
  }
  .contact-item {
    p {
      @include font_size_to_576;
    }
  }
  .btn-box {
    margin-bottom: 10rem;
    @include button_to_576;
  }
  .section-contact {
    p {
      @include font_size_to_576;
    }
    .social-icon-link {
      width: 1.7rem;
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) and (orientation: portrait) {
  .section-headline {
    margin-bottom: 3rem;
  }
  .contact-item {
    p {
      @include font_size_to_1200;
    }
  }
  .btn-box {
    margin-bottom: 10rem;
    @include button_to_1200;
  }
  .section-contact {
    p {
      @include font_size_to_1200;
    }
    .social-icon-link {
      width: 1.7rem;
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) and (orientation: landscape) {
  .section-headline {
    margin-bottom: 10rem;
  }
  .contact-item {
    p {
      @include font_size_to_1200;
    }
  }
  .btn-box {
    margin-bottom: 10rem;
    @include button_to_1200;
  }
  .section-contact {
    p {
      @include font_size_to_1200;
    }
    .social-icon-link {
      width: 1.7rem;
    }
  }
}

@media (min-width: 767px) and (max-width: 992px) and (orientation: portrait) {
  .section-headline {
    margin-bottom: 1rem;
  }
  .contact-item {
    p {
      @include font_size_to_1200;
    }
  }
  .btn-box {
    margin-bottom: 10rem;
    @include button_to_1200;
  }
  .section-contact {
    p {
      @include font_size_to_1200;
    }
    .social-icon-link {
      width: 1.7rem;
    }
  }
}

@media (min-width: 767px) and (max-width: 992px) and (orientation: landscape) {
  .section-headline {
    margin-bottom: 10rem;
  }
  .contact-item {
    p {
      @include font_size_to_1200;
    }
  }
  .btn-box {
    margin-bottom: 10rem;
    @include button_to_1200;
  }
  .section-contact {
    p {
      @include font_size_to_1200;
    }
    .social-icon-link {
      width: 1.7rem;
    }
  }
}

@media (min-width: 993px) and (max-width: 1200px) and (orientation: portrait) {
  .section-headline {
    margin-bottom: 5rem;
  }
  .contact-item {
    p {
      @include font_size_to_1200;
    }
  }
  .btn-box {
    margin-bottom: 10rem;
    @include button_to_1200;
  }
  .section-contact {
    p {
      @include font_size_to_1200;
    }
    .social-icon-link {
      width: 1.7rem;
    }
  }
}

@media (min-width: 993px) and (max-width: 1200px) and (orientation: landscape) {
  .section-headline {
    margin-bottom: 5rem;
  }
  .contact-item {
    p {
      @include font_size_to_1200;
    }
  }
  .btn-box {
    margin-bottom: 10rem;
    @include button_to_1200;
  }
  .section-contact {
    p {
      @include font_size_to_1200;
    }
    .social-icon-link {
      width: 1.7rem;
    }
  }
}
