@import './variables';
@import './mixins/mixins_skills_responsive';

@media (max-width: 300px) and (orientation: portrait) {
  .technologies-box {
    .box-item {
      @include card-img-top_to_576;
      .card-text {
        font-size: $font_size_to_340;
      }
    }
  }
}

@media (min-width: 301px) and (max-width: 340px) and (orientation: portrait) {
  .technologies-box {
    .box-item {
      @include card-img-top_to_576;
      .card-text {
        font-size: $font_size_to_340;
      }
    }
  }
}

@media (min-width: 301px) and (max-width: 340px) and (orientation: landscape) {
  .technologies-box {
    .box-item {
      @include card-img-top_to_576;
      .card-text {
        font-size: $font_size_to_340;
      }
    }
  }
}

@media (min-width: 341px) and (max-width: 380px) and (orientation: portrait) {
  .technologies-box {
    .box-item {
      @include card-img-top_to_576;
      .card-text {
        font-size: $font_size_to_576;
      }
    }
  }
}
@media (min-width: 341px) and (max-width: 380px) and (orientation: landscape) {
  .technologies-box {
    .box-item {
      @include card-img-top_to_576;
      .card-text {
        font-size: $font_size_to_576;
      }
    }
  }
}
@media (min-width: 381px) and (max-width: 576px) and (orientation: portrait) {
  .technologies-box {
    .box-item {
      @include card-img-top_to_576;
      .card-text {
        font-size: $font_size_to_576;
      }
    }
  }
}
@media (min-width: 381px) and (max-width: 576px) and (orientation: landscape) {
  .technologies-box {
    .box-item {
      @include card-img-top_to_576;
      .card-text {
        font-size: $font_size_to_576;
      }
    }
  }
}
@media (min-width: 577px) and (max-width: 768px) and (orientation: portrait) {
  .technologies-box {
    .box-item {
      .card-text {
        font-size: $font_size_to_1200;
      }
    }
  }
}
@media (min-width: 577px) and (max-width: 768px) and (orientation: landscape) {
  .technologies-box {
    .box-item {
      .card-text {
        font-size: $font_size_to_1200;
      }
    }
  }
}
@media (min-width: 767px) and (max-width: 992px) and (orientation: portrait) {
  .technologies-box {
    .box-item {
      .card-text {
        font-size: $font_size_to_1200;
      }
    }
  }
}
@media (min-width: 767px) and (max-width: 992px) and (orientation: landscape) {
  .technologies-box {
    .box-item {
      .card-text {
        font-size: $font_size_to_1200;
      }
    }
  }
}
@media (min-width: 993px) and (max-width: 1200px) and (orientation: portrait) {
  .technologies-box {
    .box-item {
      .card-text {
        font-size: $font_size_to_1200;
      }
    }
  }
}
@media (min-width: 993px) and (max-width: 1200px) and (orientation: landscape) {
  .technologies-box {
    .box-item {
      .card-text {
        font-size: $font_size_to_1200;
      }
    }
  }
}
